<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>899872795980-us7c9n6kf3akmknr4picmh4vjfgmhbug.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.899872795980-us7c9n6kf3akmknr4picmh4vjfgmhbug</string>
	<key>API_KEY</key>
	<string>AIzaSyAqoMxnpLZ4dPBobiTaRqvWy2xnace7fwg</string>
	<key>GCM_SENDER_ID</key>
	<string>899872795980</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Agustin.casuaLink</string>
	<key>PROJECT_ID</key>
	<string>casualink-76b97</string>
	<key>STORAGE_BUCKET</key>
	<string>casualink-76b97.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:899872795980:ios:7b855e3e29b2c3f0</string>
	<key>DATABASE_URL</key>
	<string>https://casualink-76b97.firebaseio.com</string>
</dict>
</plist>